<%= form_with(model: special_ability, local: true) do |form| %>
  <% if special_ability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(special_ability.errors.count, "error") %> prohibited this special_ability from being saved:</h2>

      <ul>
      <% special_ability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :name %>
  <%= form.text_area :name %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>

<div class="field">
  <%= form.label :attack_bonus %>
  <%= form.number_field :attack_bonus %>
</div>

<div class="field">
  <%= form.label :damage_dice %>
  <%= form.text_area :damage_dice %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
