<%= form_with(model: monster, local: true) do |form| %>
  <% if monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% monster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% monster.attributes.each do |key, value| %>
  <tr>
    <% if value == monster.id -%>
     <% %>
    <% else %>
      <td><%= form.label key %></td>
      <td><%= form.text_area value %></td>
    <%end%>
  </tr>
  <%end%> 

<% end %>
