<p id="notice"><%= notice %></p>


<% @monster.attributes.each do |key, value| %>
  <tr>
    <% if value == @monster.id -%>
     <% %>
    <% else %>
      <p><strong><%=key%></strong></td>
      <p><%=value%></td>
    <%end%>
  </tr>
<%end%>


___<br>
>## <%= @monster.name %><br>
>*<%= @monster.race%>, <%= @monster.alignment%>*<br>
> ___<br>
> - **Armor Class** <%= @monster.armor_class%><br>
> - **Hit Points** <%= @monster.hit_points%> (<%= @monster.hit_dice%>)<br>
> - **Speed** <%= @monster.speed%><br>
>___<br>
>|STR|DEX|CON|INT|WIS|CHA|<br>
>|:---:|:---:|:---:|:---:|:---:|:---:|<br>
>|<%= @monster.strength.to_i%> (<%=@monster.strength%>)
|<%= @monster.dexterity.to_i%> (<%= @monster.dexterity%>)
|<%= @monster.constitution.to_i%> (<%= @monster.constitution%>)
|<%= @monster.intelligence.to_i%> (<%= @monster.intelligence%>)
|<%= @monster.wisdom.to_i%> (<%= @monster.wisdom%>)
|<%= @monster.charisma.to_i%> (<%= @monster.charisma%>)
|<br>
>___<br>
> - **Damage Vulnerabilities** <%= @monster.damage_vulnerabilities%><br>
> - **Damage Resistances** <%= @monster.damage_resistances%><br>
> - **Damage Immunities** <%= @monster.damage_immunities%><br>
> - **Condition Immunities** <%= @monster.condition_immunities%><br>
> - **Senses** <%= @monster.senses %> <br>
> - **Languages** <%= @monster.languages %> <br>
> - **Challenge Rating** <%= @monster.challenge_rating %> <br>
> ___<br>
<% @monster.special_ability.ids.each do |x|%><br>
> ***<%= @monster.special_ability.find(x).name%>***<br>
<%= @monster.special_ability.find(x).description%><br>
<%end%>
><br>
> ### Actions<br>

> ### Reactions<br>
<hr>

<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
